<div class="d-flex min-vh-100 bg-light">
  <app-admin-sidebar *ngIf="!isFullscreen" [collapsed]="isSidebarCollapsed"></app-admin-sidebar>

  <div class="flex-grow-1 d-flex flex-column">
    <app-admin-header
      *ngIf="!isFullscreen"
      [isFullscreen]="isFullscreen"
      (toggleSidebar)="toggleSidebar()"
      (toggleFullscreen)="toggleFullscreen()"
    ></app-admin-header>

    <main class="flex-grow-1 p-3">
      <router-outlet></router-outlet>
    </main>

    <app-admin-footer *ngIf="!isFullscreen"></app-admin-footer>
  </div>
</div>
