@import 'bootstrap/scss/bootstrap';

:root {
	--bs-primary: #0268AE;
	--bs-primary-rgb: 2, 104, 174;
}

body {
	font-family: 'Inter', 'Segoe UI', sans-serif;
	background-color: #f8f9fa;
}

a {
	text-decoration: none;
}
